.link {
  text-decoration: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 1);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
  transition: color .1s linear, border-bottom .1s linear;
}

.link:hover {
  color: rgba(0, 0, 0, .7);
  border-bottom: 1px dashed rgba(0, 0, 0, .4);
}
