<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redis Queue demo, Timur Gain</title>
</head>
<body>
  <header>
    <h1>Redis Queue demo</h1>
  </header>
  
  <main>
    <section>
      <h2>Task queues</h2>
      <ul>
        <li>
          <a href="http://127.0.0.1:5000/start-low-priority-tasks/"
            target="_blank">Low priority task queue</a>
        </li>
        <li>
          <a href="http://127.0.0.1:5000/start-default-priority-tasks/"
            target="_blank">Default priority task queue</a>
        </li>
        <li>
          <a href="http://127.0.0.1:5000/start-high-priority-tasks/"
            target="_blank">High priority task queue</a>
        </li>
      </ul>
    </section>
  </main>

</body>
<footer>
    <p>Timur Gain, nov 2022</p>
</footer>
</html>