<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redis Queue demo, Timur Gain</title>
</head>
<body>
  <header>
    <h1>Redis Queue demo</h1>
  </header>
  
  <main>
    <section>
      <h2>Load task queues</h2>
      <ul>
        <li>
          <a href="http://127.0.0.1:5000/start-low-tasks/"
            target="_blank">Low priority task queue</a>
        </li>
        <li>
          <a href="http://127.0.0.1:5000/start-default-tasks/"
            target="_blank">Default priority task queue</a>
        </li>
        <li>
          <a href="http://127.0.0.1:5000/start-high-tasks/"
            target="_blank">High priority task queue</a>
        </li>
      </ul>
    </section>

    <section>
      <h2>Load default queue with possibly failure tasks</h2>
      <p><a href="http://127.0.0.1:5000/retry-failed-tasks/"
            target="_blank">Failure tasks</a></p>
    </section>

    <section>
      <h2>Emptying queues</h2>
      <p><a href="http://127.0.0.1:5000/empty-queues/"
            target="_blank">Empty queues</a></p>
    </section>

    <section>
      <h2>Emptying failed</h2>
      <p><a href="http://127.0.0.1:5000/empty-failed/"
            target="_blank">Empty failed</a></p>
    </section>

    <section>
      <h2>Schedule task</h2>
      <p><a href="http://127.0.0.1:5000/schedule-task/"
        target="_blank">Schedule task</a></p>
    </section>

    <section>
      <h2>Emptying scheduled</h2>
      <p><a href="http://127.0.0.1:5000/empty-schedule-list/"
            target="_blank">Empty scheduled</a></p>
    </section>

    <section>
      <h2>Monitoring queues</h2>
      <p><a href="http://127.0.0.1:5000/rq/"
        target="_blank">Go to monitoring</a></p>
    </section>

    <section>
      <h2>Monitoring scheduled tasks</h2>
      <p><a href="http://127.0.0.1:5000/schedule-list/"
        target="_blank">Go to scheduled tasks</a></p>
    </section>

  </main>

</body>
<footer>
    <p>Timur Gain, nov 2022</p>
</footer>
</html>