.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  font-size: 90%;
  height: 36px;
  line-height: 1.9;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: rgba(0, 0, 0, .7);
}

.button:focus {
  border-color: #4285f4;
  outline: none;
}

.button:active{
  box-shadow: inset 0 0 2px red;
}

